<script>
  import { onMount } from "svelte";

  import { http, apiUrl } from "./http.js";
  import { authenticatedUser } from "./auth";

  import Header from "./Header.svelte";
  import Timeline from "./Timeline.svelte";
  import Followers from "./Followers.svelte";
  import UsersList from "./UsersList.svelte";

  let currentUser;
  let refreshComponent = false;

  authenticatedUser.subscribe(async user => {
    if (!user) return;
    const response = await http.get(`${apiUrl}/users/${user.id}`);
    currentUser = response.data;
  });
</script>

<style>
  main {
    display: flex;
    flex: 1;
    margin-top: 10vh;
    background-color: #e8e8e8;
  }
  main > article {
    flex: 1;
  }
  main > aside {
    flex: 0 0 20vw;
  }
  article,
  aside {
    padding: 1em;
  }
</style>

<Header {currentUser} />
<main>
  <aside id="divFollowers">
    <Followers />
  </aside>
  <article id="divTimeline">
    <Timeline />
  </article>
  <aside id="divUsers">
    <UsersList {currentUser} />
  </aside>
</main>
