<script>
  import { createEventDispatcher } from "svelte";
  import CreatePost from "./PostCreation.svelte";
  import Modal from "./Modal.svelte";
  import { keycloak } from "./auth.js";

  export let currentUser = undefined;

  let showModal = false;
  let headerClass = "pin";
  let lastHeaderClass = "pin";
  let y = 0;
  let lastY = 0;
  const dispatch = createEventDispatcher();

  function deriveClass(y = 0, scrolled = 0) {
    if (y < 0) return "pin";
    if (!scrolled || Math.abs(scrolled) < 0) return headerClass;
    const dir = scrolled < 0 ? "down" : "up";
    if (dir === "up") return "pin";
    if (dir === "down") return "unpin";
    return headerClass;
  }

  function updateClass(y = 0) {
    const scrolledPxs = lastY - y;
    const result = deriveClass(y, scrolledPxs);
    lastY = y;
    return result;
  }

  function action(node) {
    node.style.transitionDuration = "300ms";
  }

  $: {
    headerClass = updateClass(y);
    if (headerClass !== lastHeaderClass) {
      dispatch(headerClass);
    }
    lastHeaderClass = headerClass;
  }
</script>

<style>
  header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 80px;
    background: #fff;
    box-shadow: 0 3px 3px #b5b5b5;
  }
  button {
    margin-bottom: 5px;
    margin-left: 10px;
  }
  h2 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .pin {
    transform: translateY(0%);
  }
  .unpin {
    transform: translateY(-100%);
  }
</style>

<svelte:window bind:scrollY={y} />
<header use:action class={headerClass}>
  {#if currentUser}
    <h2>🎲 {currentUser.username} ⚔️</h2>
    <button on:click={() => keycloak.logout()}>Se déconnecter</button>
    <button style="margin-left: 5px" on:click={() => (showModal = true)}>
      Publier
    </button>
    {#if showModal}
      <Modal on:close={() => (showModal = false)}>
        <CreatePost {currentUser} />
      </Modal>
    {/if}
  {:else}
    <p class="loading">loading...</p>
  {/if}
</header>
