<script>
  import Visible from "./VisibleComponent.svelte";

  import { http, apiUrl } from "./http.js";
  import { authenticatedUser } from "./auth";

  let posts;
  let currentUser;

  authenticatedUser.subscribe(async user => {
    if (!user) return;
    const response = await http.get(`${apiUrl}/posts/timeline/${user.id}`);
    posts = response.data;
    currentUser = user;
  });

  function like(postid) {
    http
      .post(`${apiUrl}/posts/reaction`, {
        idPost: postid,
        idUser: currentUser.id
      })
      .then(() => window.location.reload());
  }
</script>

<style>
  #postsList {
  }
  #singlePost {
    box-shadow: 0 2px 3px 2px #cccccc;
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }
  .post-content {
    overflow-wrap: break-word;
    margin-top: 0;
  }
  #postImg {
    max-width: 100%;
    max-height: 50vh;
  }
  p {
    max-width: 100%;
  }
</style>

<div id="postsList">
  {#if posts}
    <p>
      <b>Voici votre timeline:</b>
    </p>
    {#each posts as post}
      <Visible let:hasBeenVisible>
        <div id="singlePost" style="max-width: 100%">
          <p class="post-content">{post.content}</p>
          <p>✍️: {post.username}</p>
          <p>⌚️: {new Date(post.createdAt).toLocaleDateString()}</p>
          <div style="margin-bottom: 10px">
            <span style="margin-right: 10px">👍 : {post.likes}</span>
            <button id="Like" on:click={() => like(post.id)}>Like</button>
          </div>
          {#if post.imagelink !== null}
            <a href={post.imagelink} target="blank">
              <img
                id="postImg"
                src={hasBeenVisible ? post.imagelink : null}
                alt="loading..." />
            </a>
          {/if}
        </div>
      </Visible>
    {/each}
  {:else}
    <p class="loading">loading...</p>
  {/if}
</div>
