<script>
  import { http, apiUrl } from "./http.js";
  import { authenticatedUser } from "./auth";

  let currentUser;
  let users;

  authenticatedUser.subscribe(async user => {
    if (!user) return;
    const response = await http.get(`${apiUrl}/users/`);
    users = response.data;
    currentUser = user;
  });

  async function followUser(userId, targetId) {
    const response = await http.post(`${apiUrl}/users/follow`, {
      idCurrentUser: userId,
      idTargetUser: targetId
    });
    window.location.reload();
  }

  async function unfollowUser(userId, targetId) {
    const response = await http.post(`${apiUrl}/users/unfollow`, {
      idCurrentUser: userId,
      idTargetUser: targetId
    });
    window.location.reload();
  }
</script>

<div id="usersList">
  <ul>
    {#if users}
      <p>Suggestions d'utilisateurs à suivre :</p>
      {#each users as user}
        {#if user.id != currentUser.id}
          <li>
            <p>
              <b>
                {user.fullname}
                <span style="color:#1da1f2">@{user.username}</span>
              </b>
            </p>

            <button on:click={() => followUser(currentUser.id, user.id)}>
              Suivre
            </button>

            <button on:click={() => unfollowUser(currentUser.id, user.id)}>
              Se désabonner
            </button>
          </li>
        {/if}
      {/each}
    {:else}
      <p class="loading">loading...</p>
    {/if}
  </ul>
</div>
